<head>
<%= stylesheet_link_tag 'users' %>
<head>


<div class="contain">
     <div class="">
     <div class="error">
     <%=render 'layouts/message' %>
     </div>
     <div class="containe">
       <%= form_for (:session), :url => login_path, :html => {class: "form-signin"} do |f| %>
        <div class="form-group mb-4">
           <label for="exampleInputEmail1">Username</label>
           <%= f.text_field :Username, class: "form-control", id:"exampleInputEmail1", placeholder: "Enter Username" %>
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-label-group">
        <%= f.submit "Log In",  class: "btn btn-lg btn-primary btn-block btn-color text-uppercase"%>
        </div>
        <div class="mt-2">
        <%= link_to "Sign up", signup_path %>
        </div>
        <% end %>
        </div>
    </div>
</div>