<head>
<%= stylesheet_link_tag 'users' %>
<head>


<div class="container-fluid d-flex" style="width:100%">
    <div class="userleft" style="display:flex; flex-direction:column; align-items:center; justify-content:center">
        <h1 class="text-white container ">A Social-media Application Made for
Music Lovers To Create Tweets About Music And Follow Each Other.</h1>
        <p class="container text-white mt-4">Music Zone is a highly customizable, low-level CSS framework that gives you all of the building blocks you need to build bespoke designs without any annoying opinionated styles you have to fight to override</p>
    </div>
     <div class="mb-4 userright">
     <%=render 'layouts/message' %>
     <div></div>
     <div class="container">
       <%= form_for (:session), :url => login_path, :html => {class: "form-signin"} do |f| %>
        <div class="form-group mb-4">
           <label for="exampleInputEmail1">Username</label>
           <%= f.text_field :Username, class: "form-control", id:"exampleInputEmail1", placeholder: "Enter Username" %>
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-label-group">
        <%= f.submit "Log In",  class: "btn btn-lg btn-primary btn-block btn-color text-uppercase"%>
        </div>
        <div class="mt-2">
        <%= link_to "Sign up", signup_path %>
        </div>
        <% end %>
        </div>
    </div>
</div>