<head>
<%= stylesheet_link_tag 'followings' %>
<%= stylesheet_link_tag 'opinions' %>
<head>

<div class="main-content">
 <%= render 'side_nav' %>
 <main>
  <%= render 'navigation_bar' %>
  <div class="main-body">
    <div class="tweets">
      <p class="tweets-heading">TWEETS</p>
      <div class="tweet-form">
        <p>TWEET SOMETHING</p>
        <%= render 'form'%>
        <%= render 'checks'%>
      </div>
      <div class="tweet-body">
        <p class="tweet-body-header text-primary"><%= pluralize(@opinions.count, 'NEW TWEET' )%></p>
         <%= render 'opinions'%>
      </div>
    </div>
    <aside class="who-follow">
      <div class="follow-header">
        <p>WHO TO FOLLOW</p>
      </div>
      <div class="find-friends">
       <%= render 'find_friends'%>
      </div>
    </aside>
  </div> 
 </main>
</div>