<div class="main-content">
 <%= render 'opinions/side_nav' %>
 <main>
  <%= render 'opinions/navigation_bar' %>
  <div class="main-user-body">
    <div class="user-tweet">
      <div class="hero-img">
      <%=render 'hero' %>
      </div>
      <div class="user-body">
        <p class="user-body-header">ALL TWEETS</p>
          <%=render 'tweets_like' %>
      </div>
    </div>
    <div  class="user-profile">
     <div class="profile-container">
        <div class="d-flex justify-content-center mt-5">
          <%= render 'followedby' %>
          </div>
          <i class="fas fa-list text-primary pt-2"></i>
        </div>
        <div class="profile-details text-center">
          <h5><%= @user.Fullname.upcase %></h5>
          <h6>@<%= @user.Username %></h6>
        </div> 
      </div>
      <div class="user-stat">
        <div class="opinion-stat">
          <div class="stats-1">
            <p class="stat-no"><%= @opinions.size %></p>
            <p class="stat-name">Tweets</p>
          </div>
        </div>
        <div class="following-stat">
          <div class="stats-1">
            <p class="stat-no"><%= @user.followed.size %></p>
            <p class="stat-name">Following</p>
          </div>
        </div>
        <div class="followed-stat">
          <div class="stats-3">
            <p class="stat-no"><%= @user.followers.size %></p>
            <p class="stat-name">Followers</p>
          </div>
        </div>
      </div>
      <div class="followers-section">
        <div class="followers-header">
          <p>FOLLOWED BY</p>
        </div>
        <div class="my-followers">
          <%=render 'followers' %>
          </div>
      </div>
    </div>
  </div>
 </main>
</div>